# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# ignore database.yml
config/database.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore vimtags
tags
TAGS

pkg/
.idea/
doc/
/coverage
/coverage.data
/.yardoc

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.swo
*.md.html
